/* ###########################################################################*/
/* ###########################################################################*/
/*OVERALL STYLING-------------------------------------------------------------*/
/* ###########################################################################*/
/* ###########################################################################*/


body {
    padding-top: 56px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("./components/images/game-background_small2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.bg-dark {background-color: #29527b}

table {width: 315px}

table, td, th {
  border: 1px solid black;
  text-align: center;
}

.container{text-align: center;}

.option_menu{ margin-bottom: 10px}

h1 {text-shadow: 1px 1px 2px black;}
h3 {text-shadow: 1px 1px 2px black;}
h4 {text-shadow: 1px 1px 2px black;}

.game_id {text-shadow: 1px 1px 2px black;}

.summary_text {text-shadow: 1px 1px 2px black; margin:0}

/* ###########################################################################*/
/* ###########################################################################*/
/* # PHONE: SMALL SCREEN-------------------------------------------------------*/
/* ###########################################################################*/
/* ###########################################################################*/

@media (max-width: 499px) {
  .col-sm {
    width:100px; padding: 0; margin: 0px;
    flex: 0 0 0%}

  .checkbox-container {
    height: 50px;
    width: 50px;
    margin: 5px;
    text-align: center;
  }

.heading_top{font-size:50px; margin-bottom: 50px}

.row {margin-left:5px; margin-right:5px}

/* .form-select{margin-bottom: 15px} */

.form-select{width:50%;  margin: 0 auto; margin-bottom: 15px}

span {font-size:30px}


/* ---------------------------------------------------------------------------*/
/* Normal checkbox------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxUnchecked[type=checkbox] {
  -webkit-appearance: none;
  background-color: rgba(40, 40, 40, 0.8);
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 3px;
  margin:5px;
  display: inline-block;
  position: relative;
}

/* ---------------------------------------------------------------------------*/
/* ClickedArray checkbox------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxClicked[type=checkbox] {
  -webkit-appearance: none;
  background-color: rgba(242, 245, 66, 0.6);
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 18px;
  margin:5px;
  margin-top:1px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkboxClicked[type=checkbox]:checked {
  background-color: rgba(242, 245, 66, 0.6);
  border: 1px solid #adb8c0;
  margin:5px;
  margin-top:6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

/* ---------------------------------------------------------------------------*/
/* Explosion checkbox---------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxExplosion[type=checkbox] {
  -webkit-appearance: none;
  background-color: red;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 24px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
    margin:0px;
  background:url("./components/images/bomb5.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 45px;
}

/* ---------------------------------------------------------------------------*/
/* Shot checkbox---------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxShot[type=checkbox] {
  -webkit-appearance: none;
  background-color: red;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 25px 25px 28px 24px;

  border-radius: 3px;
  display: inline-block;
  position: relative;

  margin-left: 5px;
  text-align: center;
  background:url("./components/images/shot3.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 40px;
}

/* ---------------------------------------------------------------------------*/
/* Won checkbox---------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxWon[type=checkbox] {
  -webkit-appearance: none;
  background-color: red;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 25px 25px 28px 24px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-top: 4px;
  text-align: center;
  background:url("./components/images/diamond3.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 50px;
}

}

/* ###########################################################################*/
/* ###########################################################################*/
/* # BIG SCREEN---------------------------------------------------------------*/
/* ###########################################################################*/
/* ###########################################################################*/
@media (min-width: 500px) {
  .col-sm {
    width:80px; padding: 0;
    flex: 0 0 0%}

  .checkbox-container {
    height: 80px;
    width: 80px;
    text-align: center;
  }
span {font-size:25px}

.option_menu{background-color: rgba(255, 0, 0, 0.4); padding: 5px 0 10px 0}

.form-select{width:10%;  margin: 0 auto;}

.heading_top{font-size:100px; margin-bottom: 50px}

.row{margin-left:50px; margin-right:50px}

.restart{margin-bottom: 10px}

/* ---------------------------------------------------------------------------*/
/* Normal checkbox------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
  .checkboxUnchecked[type=checkbox] {
    -webkit-appearance: none;
    background-color: rgba(40, 40, 40, 0.8);
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 36px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }

/* ---------------------------------------------------------------------------*/
/* Disabled checkbox----------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxDisabled[type=checkbox] {
  -webkit-appearance: none;
  background-color: black;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

/* ---------------------------------------------------------------------------*/
/* Won checkbox---------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxWon[type=checkbox] {
  -webkit-appearance: none;
  background-color: red;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 36px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  background:url("./components/images/diamond3.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 74px;
}

/* ---------------------------------------------------------------------------*/
/* Bomb checkbox--------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxBomb[type=checkbox] {
  -webkit-appearance: none;
  background-color: brown;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

/* ---------------------------------------------------------------------------*/
/* Explosion checkbox---------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxExplosion[type=checkbox] {
  -webkit-appearance: none;
  background-color: red;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 36px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  background:url("./components/images/bomb5.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 74px;
}

/* ---------------------------------------------------------------------------*/
/* Shot checkbox---------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxShot[type=checkbox] {
  -webkit-appearance: none;
  background-color: red;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 35px 35px 38px 20px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  background:url("./components/images/shot3.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 54px;
}

/* .checkboxExplosion[type=checkbox]:checked {
  background-color: red;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
} */

/* ---------------------------------------------------------------------------*/
/* ClickedArray checkbox------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.checkboxClicked[type=checkbox] {
  -webkit-appearance: none;
  background-color: rgba(242, 245, 66, 0.6);
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin:0;
  margin-top:10px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkboxClicked[type=checkbox]:checked {
  background-color: rgba(242, 245, 66, 0.6);
  border: 1px solid #adb8c0;
  margin:0;
  margin-top:15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

}
